

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 d-flex mb-3">
      <mat-form-field appearance="fill" class="flex-grow-1">
        <mat-label>Search by name:</mat-label>
        <input type="text" matInput [(ngModel)]="filterName" (input)="applyFilters()">
      </mat-form-field>
    </div>

    <div class="col-md-4 d-flex mb-3">
      <mat-form-field appearance="fill" class="flex-grow-1">
        <mat-label>Category:</mat-label>
        <mat-select [(ngModel)]="selectedCategory" (selectionChange)="applyFilters()">
          <mat-option *ngFor="let category of filterCategory" [value]="category.categoryId">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4 d-flex mb-3">
      <mat-form-field appearance="fill" class="flex-grow-1">
        <mat-label>Preparation time:</mat-label>
        <input type="number" matInput [formControl]="numberControl">
      </mat-form-field>
    </div>
  </div>
</div>




  <div id="flex">
    <ng-container *ngFor="let recipe of allRecipes; let i = index">
      <div *ngIf="i % 3 === 0" class="row"> 
        <div *ngFor="let j of [0, 1, 2]">
          <div *ngIf="filteredRecipes[i + j] !== undefined" class="column">
            <app-small-recipe [smallRecipe]="filteredRecipes[i + j]"></app-small-recipe>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  