


.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;

  .edit-recipe-form {
    .card-header {
      background-color: #f8f9fa;
      border-bottom: none;
    }

    .card-title {
      margin-bottom: 0;
    }

    .card-body {
      .form-label {
        font-weight: bold;
      }

      .invalid-feedback {
        display: block;
        margin-top: 5px;
        color: #dc3545;
      }

      .button-container {
        margin-top: 20px;
        text-align: center;

        button {
          margin-right: 10px;
        }
      }
    }
  }
}