<form [formGroup]="registerForm" class="register-form">
  <h2 class="text-center mb-4">Registration</h2>

  <div class="form-outline mb-4">
    <input type="text" id="userName" class="form-control" formControlName="userName" />
    <label class="form-label" for="userName">Name</label>
    <div *ngIf="registerForm.get('userName')?.errors?.['required']" class="text-danger">Please enter a name</div>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password" class="form-control" formControlName="password" />
    <label class="form-label" for="password">Password</label>
    <div *ngIf="registerForm.get('password')?.errors?.['required']" class="text-danger">Please enter a password</div>
  </div>

  <div class="form-outline mb-4">
    <input type="email" id="email" class="form-control" formControlName="email" />
    <label class="form-label" for="email">Email</label>
    <div *ngIf="registerForm.get('email')?.errors?.['required']" class="text-danger">Please enter an email</div>
    <div *ngIf="registerForm.get('email')?.errors?.['email']" class="text-danger">Invalid email address</div>
  </div>

  <div class="form-outline mb-4">
    <input type="text" id="address" class="form-control" formControlName="address" />
    <label class="form-label" for="address">Address</label>
    <div *ngIf="registerForm.get('address')?.errors?.['required']" class="text-danger">Please enter an address</div>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4" (click)="register()" [disabled]="!registerForm.valid">Register</button>

  <div *ngIf="userExists" class="text-danger">A user with this name already exists.</div>
</form>
