

<div class="container mt-4">
  <h2 class="text-center mb-4">ADD RECIPE</h2>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="edit-recipe-form">
    <div class="mb-4">
      <input type="text" formControlName="recipeName" class="form-control" placeholder="Recipe Name" required>
    </div>

    <div class="mb-4">
      <select formControlName="categoryId" class="form-select" required>
        <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
      </select>
    </div>

    <div class="mb-4">
      <input type="number" formControlName="preparationTimeInMinutes" class="form-control" placeholder="Preparation Time (minutes)" required>
    </div>

    <div class="mb-4">
      <select formControlName="difficultyLevel" class="form-select" required>
        <option value="1">Very Easy</option>
        <option value="2">Easy</option>
        <option value="3">Medium</option>
        <option value="4">Hard</option>
        <option value="5">Very Difficult</option>
      </select>
    </div>

    <div formArrayName="ingredients">
      <div *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i = index" class="mb-4">
        <input type="text" [formControlName]="i" class="form-control" placeholder="Ingredient" required>
        <button type="button" (click)="removeIngredient(i)" class="btn btn-danger">Remove</button>
      </div>
    </div>
    <button type="button" (click)="addIngredient()" class="btn btn-primary mb-4">Add Ingredient</button>

    <div formArrayName="instructions">
      <div *ngFor="let instruction of recipeForm.get('instructions').controls; let i = index" class="mb-4">
        <input type="text" [formControlName]="i" class="form-control" placeholder="Instruction" required>
        <button type="button" (click)="removeInstructions(i)" class="btn btn-danger">Remove</button>
      </div>
    </div>
    <button type="button" (click)="addInstruction()" class="btn btn-primary mb-4">Add Instruction</button>

    <div class="mb-4">
      <input type="text" formControlName="imagePath" class="form-control" placeholder="Image Path (Optional)" required>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

