
  <div class="recipe-card">
    <div class="card-image">
      <img src="{{ smallRecipe.imagePath }}" alt="{{ smallRecipe.imagePath }}">
    </div>
    <div class="card-content">
      <h3>{{ smallRecipe.recipeName }}</h3>
      <p>
        <!-- <strong>Preparation Time:</strong> {{ smallRecipe.preparationTimeInMinutes }} minutes -->
        <strong>Preperation time :</strong> {{ smallRecipe.preparationTimeInMinutes|formatPreparationTime }} 

      </p>
      <p>
        <p class="card-text">Difficulty Level: <span [innerHTML]="smallRecipe.difficultyLevel | difficultyLevel"></span></p> <!-- Using a pipe -->
        <!-- <strong>Difficulty Level:</strong> {{ smallRecipe.difficultyLevel }} -->
     
    </div>
    <div class="card-actions">
      <button (click)="recipeDateail()" class="btn btn-link">View Full Recipe</button>
    </div>
  </div>
  