

  <div class="card mb-4">
    <div class="row">
      <div class="col-md-6">
        <img mat-card-image src="{{ recipe.imagePath }}" alt="Recipe Image" class="img-fluid rounded-start">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 mat-card-title>{{ recipe.recipeName }}</h2>
          <p class="card-text">Preparation Time: {{ recipe.preparationTimeInMinutes }} minutes</p>
          <p class="card-text">Difficulty Level: <span [innerHTML]="recipe.difficultyLevel | difficultyLevel"></span></p> <!-- Using a pipe -->
          <p class="card-text">Category: {{ category.name }} <i class="{{ category.iconPath }}"></i></p>
          <p class="card-text">Date Added: {{ recipe.dateAdded | date }}</p>
          <h3>Ingredients:</h3>
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
          </ul>
          <h3>Instructions:</h3>
          <ol>
            <li *ngFor="let instruction of recipe.instructions">{{ instruction }}</li>
          </ol>
          <button *ngIf="!isVeteranUser" class="btn btn-primary" (click)="deleteRecipe()">Delete Recipe</button>
          <button *ngIf="!isVeteranUser" class="btn btn-secondary" (click)="editRecipe()">Edit Recipe</button>
        </div>
      </div>
    </div>
  </div>
  