<form [formGroup]="addForm" class="login-form">
  <div class="form-container">
    <div class="md-form">
      <input type="text" id="name" class="form-control" formControlName="name" required>
      <label for="name">Name</label>
      <div *ngIf="addForm.get('name')?.errors?.['required']" class="text-danger">Please enter a name</div>
    </div>
    <div class="md-form">
      <input type="password" id="password" class="form-control" formControlName="password" required>
      <label for="password">Password</label>
      <div *ngIf="addForm.get('password')?.errors?.['required']" class="text-danger">Please enter a password</div>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="!addForm.valid">Login</button>
</form>
